@import '../../assets/stylesheets/_variables.scss';

.header {
  display: flex;
  justify-content: space-between;

  &__button {
    border: none;
    background: none;
    width: 4.8rem;
    height: 4.8rem;
    cursor: pointer;
  }

  &__search-bar {
    width: 59%;
    height: 2.6rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
    padding: 1.4rem 1.6rem;
    background-color: $color-bg-gray;
    color: $color-white;
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    &__search-bar {
      display: inherit;
    }

    &__button__search {
      display: none;
    }
  }
}
