@import '../../assets/stylesheets/_variables.scss';

.menu-button {
  display: none;
  cursor: pointer;
}

.sidebar {
  width: 25.6rem;
  height: 90vh;
  margin-top: 5rem;

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__ul {
    padding: 0;

    & span {
      text-transform: uppercase;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $color-white;
    }
  }

  &__items {
    &__link {
      padding: 1.2rem 0.2rem 1.2rem 0;
      width: 100%;
      display: block;
      text-decoration: none;
      color: $color-white;
      font-size: 1.6rem;
      opacity: 0.56;

      & img {
        margin-right: 1.6rem;
        vertical-align: middle;
      }

      &:hover {
        opacity: 0.72;
        transition: 0.5s;
      }

      &--active {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    right: 43rem;
    background-color: $color-bg-menu;
    margin-top: 1rem;
    border-radius: 0.8rem;
    padding: 2.4rem;
    z-index: 999;
    height: 84vh;
    overflow: hidden;
    transition: right 2s ease-in-out;

    &--animation {
      right: 1rem;
    }
  }

  .overlay {
    position: absolute;
    content: '';
    z-index: 1000;
    top: 8rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    overflow: hidden;
  }

  .menu-button {
    display: initial;
  }
}
