$color-white: #ffff;
$color-bg-gray: #ffffff29;
$color-bg-button: #5081fb14;
$color-bg-menu: #2d415b;

$color-black: #141414;
$color-box-shadow: #0000003d;

$color-blue-dark: #051d3b;
$color-blue-light: #5081fb;

$color-green: #27c93f;
$color-yellow: #ffbd2e;
$color-red: #ff5f56;
