$color-white: #ffff;
$color-bg-blue: #051d3b;
$color-bg-blue-light: rgb(45, 65, 91);

$color-black: #141414;
$color-box-shadow: rgba(0, 0, 0, 0.239);

$color-input-normal: rgba(255, 255, 255, 0.16);
$color-input-hover: rgba(255, 255, 255, 0.24);

$color-blue-button-normal: #5081fb;
$color-blue-button-hover: #7ba4fc;
$color-blue-button-focus: #96b9fd;
$color-blue-button-border-pressed: rgba(80, 129, 251, 0.722);

$color-button-outlined-normal: rgba(80, 129, 251, 0.078);
$color-button-outlined-hover: rgba(80, 129, 251, 0.161);
$color-button-outlined-focus: rgba(80, 129, 251, 0.239);

$color-green: #27c93f;
$color-yellow: #ffbd2e;
$color-red: #ff5f56;
